.btnReturn {
  margin: 10px 0px 30px;
  background-color: transparent;
  border: 2px solid whitesmoke;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: whitesmoke;
  cursor: pointer;
  &:hover {
    background-color: whitesmoke;
    color: black;
    border: 2px solid whitesmoke;
  }
}
.cardDetail {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(245, 245, 245, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  &--img {
    max-width: 300px;
  }
  &__info {
    text-align: justify;
    padding-left: 30px;
    &--title {
      font-size: 26px;
      padding-bottom: 10px;
      @media all and (max-width: 768px) {
        padding-top: 10px;
      }
    }
    &--iconHouse {
      max-width: 70px;
      position: absolute;
      margin: 10px;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    @media all and (max-width: 768px) {
      text-align: center;
      padding-left: 0px;
    }
  }
  @media all and (max-width: 768px) {
    flex-direction: column;
    max-width: 400px;
    padding: 30px;
  }
}