.sectionList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    &__li{
        background-color: rgb(116, 20, 20);
        img{
            width: 100%;
        }
        p{
            color: whitesmoke;
        }
    }
    @media all and (max-width:768px){
        grid-template-columns: 1fr 1fr;
    }
}